/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: hsl(220, 24%, 12%);
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(220, 20%, 18%);
  --white-color: #fff;
  --body-color: hsl(220, 100%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: 0.938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
}

ul {
  list-style: none;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1200px;
  margin-inline: 1.5rem;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #7e8e95;
  border-radius: 200px;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black-color);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3);
  z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
}

.nav__logo,
.nav__burger,
.nav__close {
  color: var(--white-color);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  font-weight: var(--font-semi-bold);
  font-size: 1.5rem;
  letter-spacing: 2px;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

.nav__logo i {
  font-weight: initial;
  font-size: 2.25rem;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger,
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav__close {
  opacity: 0;
}

.nav__link {
  color: var(--white-color);
  background-color: var(--black-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.nav__link:hover {
  background-color: var(--black-color-light);
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform 0.4s;
}

.dropdown__link,
.dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--white-color);
  background-color: var(--black-color-light);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: var(--font-semi-bold);
  transition: background-color 0.3s;
}

.dropdown__link i,
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover,
.dropdown__sublink:hover {
  background-color: var(--black-color);
}

.dropdown__menu,
.dropdown__submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu,
.dropdown__subitem:hover > .dropdown__submenu {
  max-height: 1000px;
  transition: max-height 0.4s ease-in;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto;
}

.dropdown__sublink {
  background-color: var(--black-color-lighten);
}

/*=============== SAYAC ===============*/

.container1 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #2f3942;
  display: flex;
}

.container1 .imgBx {
  position: relative;
  width: 500px;
  height: 100%;
  background: var(--white-color);
  background-size: cover;
  justify-content: center;
  text-align: left;
  padding: 110px 0 20px 20px;
}

.container1 .imgBx h1 {
  font-size: 1.7em;
}

.container1 .countdownBx {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(100% - 500px);
}

.container1 .countdownBx h2 {
  text-align: center;
  font-size: 1.5em;
  color: var(--white-color);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 500;
  line-height: 4em;
}

.container1 .countdownBx h2 span {
  font-size: 6em;
  font-weight: 700;
}

.container1 .countdownBx h2 span i {
  font-style: initial;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
}

.container1 .countdownBx .countdown {
  margin-top: 30px;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container1 .countdownBx .countdown div {
  position: relative;
  width: 100px;
  text-align: center;
  color: var(--white-color);
  font-size: 2.5em;
  font-weight: 500;
  margin: 0 15px;
  margin-top: -25px;
}

.container1 .countdownBx .countdown div:before {
  content: "text";
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 35px;
  color: var(--white-color);
  font-size: 0.35em;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.container1 .countdownBx .countdown div#day:before {
  content: "GÜN";
}

.container1 .countdownBx .countdown div#hour:before {
  content: "SAAT";
}

.container1 .countdownBx .countdown div#minute:before {
  content: "DAKİKA";
}

.container1 .countdownBx .countdown div#second:before {
  content: "SANİYE";
}

.container1 .countdownBx .countdown div#second,
.container1 .countdownBx .countdown div#second:before {
  color: #e91e63;
}

/*=============== FOOTER ===============*/

.footer {
  background-color: var(--black-color);
  padding: 70px 0;
  line-height: 1.5;
  box-shadow: 16px 2px 0px hsla(220, 32%, 8%, 0.3);
}

.row__footer {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: var(--white-color);
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: var(--white-color);
  font-weight: 300;
  color: #bbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: var(--white-color);
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: var(--black-color);
  background-color: var(--white-color);
}

.telif {
  position: absolute;
  font-size: 13px;
  color: #bbb;
  margin: 36px;
  text-align: center;
}

/*=============== BREAKPOINTS ===============*/

@media screen and (max-width: 1118px) {
  /* HEADER */

  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: var(--black-color);
    padding-top: 1rem;
  }

  .show-menu {
    opacity: 1;
    top: 3.5rem;
    pointer-events: initial;
  }

  /* SAYAC */

  .container1 .imgBx {
    display: none;
  }

  .container1 .countdownBx {
    width: 100%;
  }
}

/* For large devices */

@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: 0.25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }

  .dropdown__item,
  .dropdown__subitem {
    position: relative;
  }

  .dropdown__menu,
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, top 0.3s;
  }

  .dropdown__link,
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }

  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }

  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: 0.5rem;
  }

  /* Show dropdown menu */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 5.5rem;
    pointer-events: initial;
    transition: top 0.3s;
  }

  /* Show dropdown submenu */
  .dropdown__subitem:hover > .dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    transition: top 0.3s;
  }
}

/* For medium devices */

@media screen and (max-width: 768px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

/* For small devices */

@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }

  .container1 .countdownBx h2 {
    text-align: center;
    font-size: 1.2em;
  }

  .container1 .countdownBx .countdown {
    margin-top: 20px;
    height: 100px;
  }

  .footer-col {
    width: 100%;
  }
}
